.game {
    height: 500px;
    width: 70%;
    margin: 0 auto;
    border: 2px solid green;
    border-radius: 5px;
    overflow: hidden;
}

.bird {
    background-color: coral;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-left: 10px
}

.borders {
    float: right;
    height: 100%;
    width: 30px;
}

.border {
    width: 40px;
    margin-left: 35px;
    background-color: black;
}

.border-top {
    border-radius: 0px 4px 0px 0px;
}

.border-bottom {
    border-radius: 0px 0px 4px 0px;
}

.brend {
    text-align: center;
    font-size: 45pt;
    margin-top: 0px;
    font-family: 'Slabo 27px', serif;
}